<!doctype html>
<html>

<head>
  <title>Dynamic Directory</title>
</head>

<body>

  <div id="main">
    <h2>Choose a File:</h2>
      <ul>
        <% @files.each do |file| %>
        <% file_name = File.basename(file)%>
        <li>
          <a href="<%= file_name%>"><%=file_name%></a>
        </li>
        <%end%>
      </ul>

     <p>
       <% if params[:sort] == "desc" %>
         <a href="/">Sort ascending</a>
       <% else %>
         <a href="/?sort=desc">Sort descending</a>
       <% end %>
     </p>
  </div>

</body>
</html>
